<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.damsy.soupeaucaillou.recursiveRunner"
    android:versionCode="1310121146"
    android:versionName="1.0.1"
    android:installLocation="auto"
    >
    
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-feature android:glEsVersion="0x00020000" />

    <!-- minSdkVersion = 9 because of http://code.google.com/p/android/issues/detail?id=43819 -->
    <!-- targetSdkVersion = 11 because of https://developer.android.com/distribute/googleplay/quality/tablet.html#android-versions -->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="11"/>

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />

    <application android:label="RecursiveRunner" android:icon="@drawable/ic_launcher" android:name="net.damsy.soupeaucaillou.recursiveRunner.RecursiveRunnerApplication" android:allowBackup="true" android:debuggable="true">
        
        <!-- Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code. -->
        <activity android:name="net.damsy.soupeaucaillou.recursiveRunner.RecursiveRunnerActivity"
                android:label="Recursive Runner" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ 404035130361" /> <!-- the space is important since we cannot write int values without making the app crash -->
    </application>
</manifest>
