<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.damsy.soupeaucaillou.recursiveRunner"
    android:versionCode="1410131814"
    android:versionName="3.0.0"
    android:installLocation="auto">
    <!-- everything is in sac! -->
    <application />
</manifest>


