<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.damsy.soupeaucaillou.recursiveRunner"
    android:versionCode="1410222222"
    android:versionName="3.0.0"
    android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00020000" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="11"/>

    <application android:label="@string/game_name" android:icon="@drawable/ic_launcher" android:allowBackup="true" android:debuggable="false" />
</manifest>
